:host {
  grid-column: 1/9;
}
.title {

  font-weight: bold;

}


mat-toolbar {
  padding:0;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-column-gap: 0.5em;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.nav-flex {
  grid-column: 2/8;
  display: flex;
}
.nav-flex > a {
 margin-right: 1em;
}
