@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto');

html, body { height: 100%; }

body {
  margin: 0;
  background:lightgray;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}
