<section id="search-bar">
  <mat-card>
    <form (ngSubmit)="onSubmit()" class="search-form">
      <mat-form-field class="search-input" color=primary>
        <input matInput type="search" placeholder="Hae aseman nimellä" aria-label="Hae aseman nimellä" [formControl]="userInput" [matAutocomplete]="auto">
        <mat-hint>esim. Jyväskylä</mat-hint>
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="userInput.hasError('required')">
              Haku ei voi olla tyhjä
          </mat-error>
          <!--
          <mat-error *ngIf="userInput.hasError('incorrect')">
              Please select a valid project
          </mat-error>
         -->
      </mat-form-field>
      <span class="search-buttons">
        <button type="submit" mat-flat-button color="primary">Hae junia</button>
        <button mat-stroked-button color="secondary" *ngIf="test" (click)="resetSearch()">Tyhjennä haku</button>
      </span>
    </form>
</mat-card>
</section>

<mat-progress-spinner *ngIf="loading"></mat-progress-spinner>
<app-result-table *ngIf="test" [trainData]="test"></app-result-table>





