:host {
  grid-column: 2/8;

}
.search-form {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height:100%;
}
.search-input {
  width: 100%;
  margin-bottom: 2em;
}
.search-buttons {
  display: flex;
}
button {
  margin-right: 1em;
}
table {

}
mat-card {

}
